# Django
Django==4.2.7

# Base de datos MySQL
mysqlclient==2.2.0

# Variables de entorno
python-decouple==3.8

# Servidor de producción
gunicorn==21.2.0

# Archivos estáticos
whitenoise==6.6.0

# Generación de reportes
reportlab==4.0.7
openpyxl==3.1.2
weasyprint==62.3

# Manejo de imágenes
Pillow==10.1.0

# CORS (si necesitas API REST)
django-cors-headers==4.3.1

# Timezone
pytz==2023.3

# Utilidades
python-dateutil==2.8.2
